body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.6;
	background-color: #cacaca;
	margin:0;
	padding:0;
	height:100%;
}

* {
	box-sizing: border-box;
}

h2 {
	font-size: 30px;
	font-weight: 700;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

.button {
	border: none;
	width: 225px;
	height: 40px;
	border-radius: 30%;
	font-family: 'Ubuntu', sans-serif;
	background-color: lightcoral;
	color: black;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, .3);
	transition-duration: 0.5s;
	transition-property: opacity;
}

.button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.5;
}

a {
	color: black;
}

a:hover, a:focus {
	text-decoration: none;
}

input, textarea {
	width: 500px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 4px 4px 6px 0 rgba(30, 60, 80, 0.30);
}

textarea {
	height: 100px;
}

.navigation-list {
	list-style-type: none;
}

div.nav a {
	text-decoration: none;
	font: 20px 'Ubuntu', sans-serif;
	font-weight: 600;
	z-index: 0;
	position: relative;
	cursor: pointer;
}

div.decor a:before,
div.decor a:after {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 1px;
	background: black;
	content: "";
	opacity: 0;
	transition: all 0.3s;
}

div.decor a:before {
	top: 0px;
	transform: translateX(10px)translateY(-10px);
}

div.decor a:after {
	bottom: 0px;
	transform: translateX(-10px)translateY(10px);
}

div.decor a:hover:before,
div.decor a:hover:after {
	opacity: 1;
	transform: translateX(0px);
}

.navigation-list__item {
	display: inline-block;
	margin-right: 20px;
}

.container {
	margin: auto;
}

/*index css-----------------------------------------------------*/

.page-header {
	background-color: #448caf;
	display: grid;
	grid-template-columns: 10% 90%;
	position: sticky;
}

.page-header__item:nth-child(1) {
	height: 100px;
	width: 100px;

}

.page-header__item:nth-child(2) {
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.index__title {
	margin: 10px auto;
	width: auto;
	max-width: 150px;
	font-size: 17px;
	color: black;
	background-color: #448caf;
	border: 2px solid #89cff0;
	border-radius: 5px;
	text-align: center;
	animation: fadeinup 1s 1;
}

.body__profile {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 700px;
	margin: 30px auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.profile__item {
	text-align: center;
	margin: auto;
}

.profile__item:first-child {
	width: 250px;
	border-radius: 50%;
}

.profile__item:first-child:hover {
 	box-shadow: 4px 4px 6px 4px rgba(30, 50, 80, 0.30)
}

.profile__item:nth-child(2) {
	float: right;
}

.profile__description {
	padding-top: 20px;
}

footer {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	position: relative;
	bottom: 0;
	padding-top: 50px;
}

.footer-links {
	padding: 10px;
}

.footer-links img {
	width: 40px;
	height: 40px;
	margin: auto;
}

.footer-links img:hover {
	animation: grow 1s forwards;
}

/*aboutme css--------------------------------------------*/

.about__title {
	background-color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

.about__container {
	padding-top: 20px;
}

.about-info {
	display: grid;
	grid-template-columns: 60%;
}

.aboutme__item:nth-child(1) {
	margin: auto;
	padding-left: 100px;
	text-align: center;
	padding-top: 20px;
}

.aboutme__item:nth-child(2) {
	margin: auto;
	padding-left: 100px;
	text-align: center;
	padding-top: 20px;
}

table {
	background: black;
	text-align: center;
	border: 3px solid black;
	border-radius: 5px;
	box-shadow: 4px 4px 6px 0 rgba(30, 60, 80, 0.30);
	width: 700px;
	height: 500px;
}

th {
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 4px 4px 6px 0 rgba(30, 60, 80, 0.30);
	background-color: lightcoral;
}

td {
	background-color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 4px 4px 6px 0 rgba(30, 60, 80, 0.30);
}

/*work css--------------------------------------------------*/

.close-icon {
  display: none;
}

.close-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}

#control-container {
  position: fixed;
  transform: translateY(200%);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 60px;
  border-radius: 10px;
  z-index: 99;
  background: white;
  color: black;
  padding: 30px;
}

#control-container.display {
  transform: translateY(0px);
}

.modal-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	text-align: center;
}

.modal-list a {
	text-decoration: none;
	border: 1px lightcoral;
	background-color: lightcoral;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
	margin: auto;
	padding: 10px;
	width: 180px;
}

.modal-list a:hover {
	opacity: 0.7;
}

.modal-item:nth-child(1) {
	max-width: 550px;
	max-height: 550px;
	grid-column: 1/1;
	grid-row: 1/3;
	margin: auto;
}

.modal-item:nth-child(2) {
	grid-column: 1/3;
	grid-row: 3/3;
	font-size: 30px;
	margin: 10px auto;
	height: 30px;
}

.modal-item:nth-child(3) {
	margin-bottom: 20px;
	grid-column: 2/2;
	grid-row: 1/1;
}

.modal-item:nth-child(4) {
	grid-column: 2/2;
	grid-row: 2/2;
}

.work__title {
	background-color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

.work__container {
	padding-top: 20px;
}

.list-item {
	display: grid;
	grid-template-columns: 1fr;
	padding: 20px;
	max-width: 50%;
	margin: auto;
}

.grid__item {
	width: 33%;
	height: 330px;
	box-shadow: 4px 4px 6px 4px rgba(30, 50, 80, 0.30);
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 2px solid white;
	border-radius: 10px;
	width: auto;
}

.grid__item:hover {
	opacity: 0.7;
}

.grid__item img {
	width: 500px;
	height: 500px;
}

h4 {
	margin: auto;
	color: black;
	font-size: 15px;
	border: white;
	border-radius: 10px;
	

}

/*contact css------------------------------------------------*/

.contact__title {
	background-color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

label {
	display: block;
}

.contact__container {
	padding-top: 20px;
}

#register-form {
	font-size: 18px;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: auto;
	width: auto;
	grid-gap: 10px;
	grid-template-columns: 1fr;
}

.contact__item {
	padding-top: 10px;
	margin: auto;
}

.contact__item:nth-child(6) {
	text-align: center;
}

/*Media Query-------------------------------------------------*/

@media all and (max-width: 374px){
	input, textarea {
		max-width: 290px;
	}
}

@media all and (min-width: 375px) and (max-width: 400px) {
	input, textarea {
		max-width: 300px;
	}
}

@media all and (max-width: 400px) {
	.navigation-list__item {
		margin-right: 7px;
	}
	.navigation-list {
		margin-right: auto;
	}
}

@media all and (max-width: 450px) {
	.contact__item {
		padding-left: 15px;
	}
	.contact__item:nth-child(6) {
		padding-right: 15px;
	}
}

@media all and (max-width: 500px) {
	.grid__item {
		height: 50px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 17px;
	}
}

@media all and (min-width: 400px) and (max-width: 600px) {
	input, textarea {
		max-width: 350px;
	}
}

@media all and (max-width: 600px) {
	.body__profile {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.page-header {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 461px) and (max-width: 1200px) {
	.modal-item:nth-child(1) {
		max-width: 300px;
		max-height: 300px;
		grid-column: auto;
		grid-row: auto;
	}

	.modal-item:nth-child(2) {
		font-size: 25px;
		margin: auto;
		height: 30px;
		grid-column: auto;
		grid-row: 4/4;
	}
	.modal-item:nth-child(3) {
		grid-column: auto;
		grid-row: auto;
	}

	.modal-item:nth-child(4) {
		grid-column: auto;
		grid-row: auto;
	}
	.modal-list {
		grid-template-columns: 1fr;
	}
}

@media all and (max-width: 460px) {
	.modal-item:nth-child(1) {
		max-width: 200px;
		max-height: 200px;
		grid-column: auto;
		grid-row: auto;
	}

	.modal-item:nth-child(2) {
		font-size: 15px;
		margin: auto;
		height: 30px;
		grid-column: auto;
		grid-row: 4/4;
	}
	.modal-item:nth-child(3) {
		grid-column: auto;
		grid-row: auto;
	}

	.modal-item:nth-child(4) {
		grid-column: auto;
		grid-row: auto;
	}
	.modal-list {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 716px) and (max-width: 1109px) {
	.grid__item {
		height: 150px;
	}
}

@media all and (min-width: 500px) and (max-width: 715px) {
	.grid__item {
		height: 100px;
	}
}

@media all and (min-width: 1110px) and (max-width: 1500px) {
	.grid__item {
		height: 250px;
	}
	h2 {
		font-size: 20px;
	}
}

@media all and (max-height: 800px) {
	.contact__item:nth-child(6) {
		text-align: center;
		margin-bottom: 20px;
	}
	.grid {
		margin-bottom: 20px;
	}
}

@media all and (max-width: 700px) {
	.contact__item:nth-child(6) {
		text-align: center;
		margin-bottom: 20px;
	}
	.grid {
		margin-bottom: 20px;
	}
}
 @media all and (max-width: 830px) {
 	table {
 		width: auto;
 		height: auto;
 	}
 	.aboutme__item:nth-child(1) {
 		padding: 10px;
 		margin: auto;
 	}
 }

/*KeyFrames------------------------------------------------------------*/

@keyframes fadeinup {
	from {
		transform: translate3d(0,40px,0);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes grow {
	100% {
		transform: scale(1.3);
	}
}

